*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    position: absolute;
    top: 10%;
    font-size: 50px;
}
#h1{
    background-color: transparent;
    font-size: 100px;
    color: aqua;
}
p{
    position: absolute;
    top: 30%;
}
label{
    width: 70px;
    display: flex;
    flex-direction: column;
    
}
label input[type='checkbox']{
    display:none
}
span{
    height: 7px;
    margin: 7px 0;
    background-color: #333;
    transition: .4s cubic-bezier(0.68,-0.6,0.32,1.6);
    cursor: pointer;
}
span:nth-of-type(1){
    width: 50%;
}
span:nth-of-type(2){
    width: 100%;
}
span:nth-of-type(3){
    width: 75%;
}
label input[type='checkbox']:checked ~ span:nth-of-type(1){
    transform-origin: bottom;
    transform: rotateZ(45deg) translate(8px,0px);
}
label input[type='checkbox']:checked ~ span:nth-of-type(2){
    transform-origin:top;
    transform: rotateZ(-45deg);
}
label input[type='checkbox']:checked ~ span:nth-of-type(3){
    transform-origin:bottom;
    width: 50%;
    transform: translate(30px,-11px)rotateZ(45deg);
}